---
import { getCollection } from "astro:content";

export async function getStaticPaths() {

  const posts = await getCollection("insights");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html>
<head>

<title>{post.data.title}</title>

<meta property="og:title" content={post.data.title} />
<meta property="og:image" content={`/heroes/${post.id}.png`} />

</head>

<body>

<h1>{post.data.title}</h1>

<Content />

</body>
</html>
