---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Perspectives</h1>
		
		<p>
		Ideas on structure, transformation and execution.
		</p>
		
		<p>
		Patrik Hallén<br>
		Member of Andersen Consulting
		</p>
	</body>
</html>
